.bar {
  height: 32px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  gap: 16.6%;
  padding: 8px 19.03%;
} 

.item {
  color: #EB4C6B;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (max-width: 768px) {
  .bar {
    justify-content: center;
  }

  .item:not(:first-child) {
    display: none;
  }
}